{{>layout/header}}
<h1>추가정보 입력페이지</h1>
<form action="/addInfo/signup" method="post">
    지역: <input type="text" name="location" /> <br>
    나이: <input type="number" name="age" /> <br>
    <button>제출</button>
</form>
{{>layout/footer}}
